
#post_content
	%h1= @post.title
	%p= @post.content
	#comments
		%h2
			= @post.comments.count
		= render @post.comments
	%h3 New Comment
	= render "comments/form"
	%br/
	%hr/
	%br/


	= link_to "Edit", edit_post_path(@post),class: "button"
	= link_to "Destroy", post_path(@post),:method=>:delete, :data=> {:confirm => "are you sure"},class: "button"
